{% extends "layout.html" %}
{% block main %}

<div class="row">
<!--<ul class="list-unstyled">-->

  {% for item in items %}
  <!--<li class="media">-->
  <!--  <img class="mr-3" src= "{{ item.image }}" alt="Generic placeholder image"  style = "width:200px; height:200px">-->
  <!--  <div class="media-body">-->
  <!--    <h5 class="mt-0 mb-1">{{ item.title }}</h5>-->
  <!--    {{ item.description }}-->
  <!--    <h1> Price: ${{ item.price }}0 </h1>-->
  <!--    <a href="https://cs50-jaehyun-lee.cs50.io:8080/buy/{{unique1}}" class="button">Buy</a>-->
  <!--</li>-->

  <div class="col-sm-3">
  <div class="card h-200" style="width: 15rem;">
  <img class="card-img-top" src="{{item.image}}" alt="Card image cap" style="height:150px">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.description}}</p>
    <p class ="card-text"> Price: {{item.price}}</p>
    <a href="https://cs50-jaehyun-lee.cs50.io:8080/buy/{{item.id}}" class="btn btn-primary"> Buy </a>
  </div>
  </div>
  </div>
  {% endfor %}


<!--</ul>-->
</div>

{% endblock %}