{% extends "layout.html" %}
{% block main %}

<div class="jumbotron">
<h1 class="display-4">Terms of Use</h1> <br>
<p><b>Selling:</b> Illegal products in the forms of alcohol, drugs, firearms and weapons, pornographic material, and trafficking are strictly <br>prohibited and will result in a ban from the website. Sellers must refrain from uploading items they do not intend to sell.
Sellers,<br> after an item has been bought in real life, or is unavailable, should delete their item via My Items.</p>
<p><b>Transactions:</b> We, HMarket, do not provide a transaction platform. We leave the actual transaction to be done between the buyers<br>and sellers through their emails. HMarket does not assume any responsibility for the processions of the offline transactions.</p>
<p><b>Buying: </b> Those who want to buy a product must buy with the genuine intention of buying the product. As both parties will recieve <br>an automated email, such email will act as an mutual agreement on the transaction of the item at that given price.</p>
<p><b>Questions? Concerns? </b> Please email <i>Hmarketinfo@gmail.com</i> for any inquiries or concerns about the use of Hmarket. Thank you!</p>


{% endblock %}