{% extends "layout.html" %}
{% block main %}

<div class="jumbotron">
<h1 class="display-4">Terms of Use</h1>
<p><b>Selling:</b> There should be no illegal products in any forms of drugs, human traffiking, organ markets, etc. Sellers, after an item has been bought in real life, or is unavailable, should delete their item via My Items.</p>
<p><b>Transactions:</b> We, HMarket, do not provide a transaction platform. We leave the actual transaction to be done between the buyers and sellers through their emails.</p>
<p><b>Buying: </b> Those who want to buy a product should do it with real intention of buying the product. Because both parties will receive an email, this will act as an agreement on the transaction of the item at that given price.</p>
<p><b>Questions? Concerns? </b> Please email <i>Hmarketinfo@gmail.com</i> for any inquiries or concerns about the use of Hmarket. Thank you!</p>


{% endblock %}